{% extends "layout.html" %}

{% block title %}
    <section class="title-color" id="{{ id }}-title">
        <div class="title-container">
            <div class="row title-text">
                <div class="col-12 col-sm-9 col-md-7 col-lg-6 additional-margin">
                    <div class="title-description">
                        <p>{{title_text}}</p>
                    </div>
                </div>
            </div>
            <div class="row title-text">
                <div class="col-auto additional-margin">
                    <p>{{title}}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My latest project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>{{ project['title'] }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{{ project['blog_url'] }}">
                            <img class="portfolio-img" src="/static/img/{{project['image_name']}}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="/portfolio">This way</a> to see more of my projects.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My latest blog entry</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>{{ post['title'] }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="{{ post['colab_url'] }}">
                            <img class="portfolio-img" src="/static/img/{{post['image_name']}}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="/blog">this way</a> to see more of my blog posts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
