{% extends "layout.html" %}

{% block title %}
    <section class="title-color" id="{{ id }}-title">
        <div class="title-container">
            <div class="row title-text">
                <div class="col-auto additional-margin">
                    <p>Data Science, Sustainability, Health</p>
                </div>
            </div>
            <div class="row title-text">
                <div class="col-8" style="padding-right:100px;">
                    <div class="title-description">
                        <!-- <p>{{title_text}}</p> -->
                        <p>
                            Hi, my name is Nathan.
                            I'm a data scientist, swing dancer, and amateur (like really amateur) chef.
                            <br><br>
                            I have 3 years of experience as a data scientist working in the renewable energy industry, 
                            with a focus on photovoltaics. I spent 2 years of that time working on a project for the U.S. Department of Energy
                            as part of their <a href="https://www.energy.gov/eere/solar/sunshot-initiative">Sunshot initiative</a>.
                            We built out a scalable analytics engine for modeling solar panel energy production 
                            in conjunction with <a href="https://pfdrive.com/">Power Factor's</a> data monitoring platform <a href="https://pfdrive.com/products">Drive</a>,
                            and published a paper - which you can read <a href="https://ieeexplore.ieee.org/document/9300556">here</a>.
                            <br><br>
                            Please use this website to see view a sampling of my personal projects I've developed 
                            as explorations in the fields of statistics and deep learning. 
                            <br><br>
                            Feel free to contact me at <a href = "mailto: nzorndorf@gmail.com">nzorndorf@gmail.com</a>.
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <img src="static/img/nathan-bw-cropped.png" class="img-fluid">
                    <!-- <img src="static/img/nathan-color-cropped.png" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My latest project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>{{ project['title'] }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="{{ project['image_url'] }}">
                            <img class="portfolio-img" src="/static/img/{{project['image_name']}}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="/portfolio">This way</a> to see more of my projects.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            <h2 class="index-header">My latest blog entry</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>{{ post['title'] }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <a target="_blank" href="{{ post['blog_url'] }}">
                            <img class="portfolio-img" src="/static/img/{{post['image_name']}}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="/blog">this way</a> to see more of my blog posts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
